<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">        

    <bean id="liemikurssiperusteet1" class="com.antero.liemipeli.domain.opiskelu.Kurssi">
        <property name="kurssinNimi" value="Liementeon perusteet I"/>
        <property name="opintopisteet" value="5"/>
        <property name="kurssinHinta" value="4000"/>
    </bean>   
    
    <bean id="liemikurssiperusteet2" class="com.antero.liemipeli.domain.opiskelu.Kurssi">
        <property name="kurssinNimi" value="Liementeon perusteet II"/>
        <property name="opintopisteet" value="6"/>
        <property name="kurssinHinta" value="9000"/>
    </bean> 
    
    
    <bean id="taikojenPerusteet1" class="com.antero.liemipeli.domain.opiskelu.Kurssi">
        <property name="kurssinNimi" value="Taikojen perusteet I"/>
        <property name="opintopisteet" value="4"/>
        <property name="kurssinHinta" value="3000"/>
    </bean>   
    
    <bean id="taikojenPerusteet2" class="com.antero.liemipeli.domain.opiskelu.Kurssi">
        <property name="kurssinNimi" value="Taikojen perusteet II"/>
        <property name="opintopisteet" value="7"/>
        <property name="kurssinHinta" value="7500"/>
    </bean> 
    
     
    <bean id="opettajaSysimetsa" class="com.antero.liemipeli.domain.opiskelu.Opettaja">
        <property name="opAineet">
            <list>
                <ref bean="liemikurssiperusteet1" />
                <ref bean="liemikurssiperusteet2" />
            </list>
        </property>   
        <property name="oppiarvo" value="Tietäjä"/> 
        <property name="nimi" value="Otto Sysimetsä"/>  
    </bean> 
    
      <bean id="opettajaTaikanen" class="com.antero.liemipeli.domain.opiskelu.Opettaja">
        <property name="opAineet">
            <list>
                <ref bean="taikojenPerusteet1" />
                <ref bean="taikojenPerusteet2" />
            </list>
        </property>   
        <property name="oppiarvo" value="Vanhempi taikoja"/> 
        <property name="nimi" value="Liisa Taikanen"/>  
    </bean> 
        
</beans>
